{{ define "header"}}
    <header>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/photo">Add Photos</a>
    </header>
{{end}}