<!Doctype html>
<html>
<body> 
    <form method="POST"  >
        <input name="name" type="text" placeholder="name"/>
        <input name="email" type="text" placeholder="email" />
        <input name="password" type="password" placeholder="password" />
        <input type="submit"/>
    </form>
</body>
</html>